html, body {
    font-family: Raleway;
    padding: 0;
    margin: 0;
}

* {
    user-select: none;
    padding: 0;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
}

img {
    pointer-events: none;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

/* -------------------------------------------------------------------------------------------------------------- */

#login-box {
    width: 350px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(247, 247, 247);
    z-index: 2000;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
}

#login-box #logo-login {
    width: 95px;
    margin: 50px auto;
    font-size: 25px;
    font-weight: 700;
    line-height: 13px;
    border-bottom: 5px solid royalblue;
}

#login-box p {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 12px;
}

#login-box #back {
    font-size: 13px;
    font-weight: 500;
    padding-top: 7px;
    color: #888787;
}

#login-box #sign-in-name {
    visibility: hidden;
}

#login-box #close-login-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #888787;
    cursor: pointer;
}

#login-box #sign-in-name, #login-box #sign-in-email, #login-box #sign-in-pwd {
    position: relative;
    width: 90%;
    height: 42px;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(236, 236, 236);
    font-size: 15px;
    font-weight: 600;
    color: rgb(77, 77, 77);
    font-family: Raleway;
    background-color: none;
}

#login-box #sign-in-name::placeholder, #login-box #sign-in-email::placeholder, #login-box #sign-in-pwd::placeholder {
    opacity: 1;
    font-weight: 400;
    font-size: 13px;
    color: gray;
}

#login-box #buttons {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
    /* background-color: red; */
}

#login-box #buttons #sign-in-submit {
    width: 135px;
    height: 45px;
    border: none;
    font-family: Raleway;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: royalblue;
    border-radius: 5px;
} 

#login-box #sign-in-submit:hover {
    opacity: 0.85;
    cursor: pointer;
    transition: 0.5s;
}

#login-box #buttons #register-button {
    padding: 0;
    margin: auto 0;
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    color: royalblue;
    cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------- */

#hero {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hero #sign-in-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 115px;
    height: 45px;
    border: 1px solid royalblue;
    font-family: Raleway;
    font-weight: 600;
    font-size: 16px;
    color: rgb(88, 88, 88);
    background: white;
    border-radius: 5px;
}

#hero #sign-in-button:hover {
    opacity: 0.85;
    cursor: pointer;
    transition: 0.5s;
}

#hero #logo-top {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 700;
    display: none;
    border-bottom: 5px solid royalblue;
}

#hero #sign-in-button:hover {
    opacity: 0.60;
    transition: 0.5s;
}

#hero #left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero #left #logo {
    margin: 0 auto;
    font-size: 65px;
    font-weight: 700;
    line-height: 92px;
    border-bottom: 10px solid royalblue;
}

#hero #right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero #right #container {
    position: relative;
    width: 85%;
    margin: 50px auto 0 auto;
    height: 350px;
}

#hero #right #container #title {
    font-size: 35px;
    font-weight: 500;
}


#hero #right #container #subtitle {
    width: 70%;
    padding: 20px 0;
    font-size: 17px;
    font-weight: 500;
    color: #888787;
}

#hero #right #container #social {
    margin: 10px 0 20px 0;
    width: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hero #right #container #social i {
    font-size: 22px;
    color: #888787;
}

#hero #right #container #social i:hover {
    opacity: 0.60;
    color: royalblue;
    cursor: pointer;
    transition: 0.5s;
}

#hero #right #container #signup-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#hero #right #container #sign-up-field {
    position: relative;
    width: 62%;
    height: 45px;
    border: none;
    background: none;
    border-bottom: 1px solid lightgray;
    font-size: 15px;
    font-weight: 500;
    color: gray;
    font-family: Raleway;
    margin-right: 15px;
}

#hero #right #container #sign-up-button {
    width: 135px;
    height: 45px;
    border: none;
    font-family: Raleway;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: royalblue;
    border-radius: 5px;
} 

#hero #right #container #sign-up-button:hover {
    opacity: 0.85;
    cursor: pointer;
    transition: 0.5s;
}

#hero #email-message {
    padding: 0;
    font-size: 15px;
    color: #888787;
    font-weight: 600;
    /* display: none; */
}

/* -------------------------------------------------------------------------------------------------------------- */

@media (max-width: 1100px) {
    #hero #left {
        display: none;
    }

    #hero #right {
        width: 100%;
    }

    #hero #logo-top {
        display: block;
    }

    #hero #right #container {
        width: 90%;
        margin-top: 30px;
    }

    #hero #right #container #subtitle {
        width: 80%;
    }

    #hero #right #container #signup-form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    #hero #right #container #sign-up-field {
        /* width: 1%; */
        margin-bottom: 10px;
        margin-right: 15px;
    }

    #hero #right #container #sign-up-button {
        margin: 0;
        border-radius: 5px;
    }
}